.status {
    *{
        font-family: "Noto Sans Mono";
    }
    .widgetbox {
        margin: 70px 100px 0 0;
        .clock {
            font-size: 70px;
            min-width: 350px;
            color: #E6C6D1
        }
    }
}