@define-color bgdark #313131;
@define-color clight #d4d4d4;

* {
    /* all: unset; */
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Cantarell, "0xProto Nerd Font Propo";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: black;
}

#workspaces {
    padding: 5px 10px 5px 5px;
    margin: 0;
    background-color: @bgdark;
    border-radius: 0px 0px 20px 0px;
}

#workspaces button {
    background-color: #a8a8a8;
    border-radius: 100px;
    min-height: 20px;
    min-width: 20px;
    padding: 0px;
    margin: 0px 5px 0px 5px;
    transition: min-width 0.15s;
}

#workspaces button.active {
    min-width: 50px;
}

#clock {
    /* font-size: 13; */
    color: @clight;
    background-color: @bgdark;
    padding: 0px 10px 0px 15px;
    border-radius: 0px 0px 0px 20px;
}

#battery {
    margin-left: 5px;
    min-width: 50px;
    color: @clight;
}

#network {
    color: @bgdark;
    margin-right:5px;
}

#bluetooth {
    color: @bgdark;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 30px;
}

#custom-separator {
    min-width: 1px;
    color: @bgdark;
    padding: 0px 1px 1px 1px;
}

/*icons*/
#custom-speakericon {
    margin-left: 6px;
    min-width: 15px;
    font-size: 20px;
    color: @clight;
}

#custom-lighticon {
    margin-left: 6px;
    min-width: 15px;
    font-size: 20px;
    color: @clight;
}

#language {
    color: @clight;
    min-width: 20px;
}
/*Audio*/
#pulseaudio-slider {
    padding: 0px 10px 0px 0px;
}
#pulseaudio-slider slider {

    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @bgdark;
}
#pulseaudio-slider highlight {
    border-radius: 5px;
}

/*Backlight*/
#backlight-slider {
    padding: 0px 10px 0px 0px;
}
#backlight-slider slider {

    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @bgdark;
}

#backlight-slider highlight {
    border-radius: 5px;
}