* {
    /* all: unset; */
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Cantarell, "0xProto Nerd Font Propo";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

#workspaces {
    padding: 5 10 5 10;
    margin: 0;
    background-color: rgb(10, 10, 10);
    border-radius: 0 0 20 0;
}

#workspaces button {
    background-color: #a8a8a8;
    border-radius: 100;
    min-height: 20px;
    min-width: 20px;
    padding: 0px;
    margin: 0 5 0 5;
}

#workspaces button.active {
    min-width: 50px;
}

#clock {
    /* font-size: 13; */
    color: rgb(212, 212, 212);
    background-color: rgb(10, 10, 10);
    padding: 0 15 0 15;
    border-radius: 0 0 0 20;
}

#battery {
    margin-left: 5px;
    min-width: 50px;
    color: rgb(212, 212, 212);
}

#custom-separator {
    min-width: 1px;
    color: rgb(10, 10, 10);
    padding: 0 1 1 1;
}

/*icons*/
#custom-speakericon {
    margin-left: 6px;
    min-width: 15px;
    font-size: 20px;
    color: rgb(212, 212, 212);
}

#custom-lighticon {
    margin-left: 6px;
    min-width: 15px;
    font-size: 20px;
    color: rgb(212, 212, 212);
}

#language {
    color: rgb(212, 212, 212);
    min-width: 20px;
}
/*Audio*/
#pulseaudio-slider {
    padding: 0 10 0 0;
}
#pulseaudio-slider slider {

    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
}
#pulseaudio-slider highlight {
    border-radius: 5px;
}

/*Backlight*/
#backlight-slider {
    padding: 0 10 0 0;
}
#backlight-slider slider {

    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
}
#backlight-slider highlight {
    border-radius: 5px;
}